AI_RAG_MODELS__SIMPLE__API_KEY=your-dashscope-api-key
AI_RAG_MODELS__MODERATE__API_KEY=your-dashscope-api-key
AI_RAG_MODELS__COMPLEX__API_KEY=your-dashscope-api-key

# ElasticSearch Store
#AI_RAG_VECTOR_STORE__PROVIDER=elasticsearch
#AI_RAG_VECTOR_STORE__ELASTICSEARCH__URL=http://localhost:9200
#AI_RAG_VECTOR_STORE__ELASTICSEARCH__USERNAME=
#AI_RAG_VECTOR_STORE__ELASTICSEARCH__PASSWORD=
#AI_RAG_VECTOR_STORE__ELASTICSEARCH__API_KEY=

# Chroma Store
#AI_RAG_VECTOR_STORE__PROVIDER=chroma
#AI_RAG_VECTOR_STORE__CHROMA__PERSIST_DIRECTORY=backend/data/.chroma
